<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Dashboard info:</h2>
    <p>Connected to the token at address: {{ tokenContractAddress }} </p>
    <p>This token has a total supply of: {{ tokenTotalSupply }} </p>
    <p>Your wallet address is: {{ walletAddress }}</p>
    <p>This wallet has a balance of: {{ etherBalance }}</p>
    <form [formGroup]="claimForm">
        <input type="text" placeholder="your name" formControlName="name">
        <input type="id" placeholder="your id" formControlName="id">
    </form>
    <button class="btn btn-primary my-2" (click)="request()">Request Token</button>
</div>

<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Contract interactions</h2>
    <p>Address of ballot contract: </p>
    <p>Address of ERC20 Votes: {{ tokenContractAddress }}}</p>
</div>

